@import url("https://use.typekit.net/lhx0gct.css");

// Screen sizes
$s-max: 479px;
$m-min: $s-max + 1px;
$m-max: 767px;
$l-min: $m-max + 1px;
$l-max: 899px;
$xl-min: $l-max + 1px;

// Fonts
$eaves: mr-eaves-modern, sans-serif;
$f1: 1em;
$f2: 1.25em;
$f3: 1.5em;
$f4: 2em;
$f5: 3em;
$f6: 4em;

// Colors
$gray-10: #ebebeb;
$gray-20: #ccc;
$gray-30: #999;
$gray-40: #555;
$white: #fff;
$red: #FF0000;
$light-blue: #B3DDF2;