@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

@import '_config';

body {
  background-color: $gray-10;

  @media (max-width: $m-max) {
    background-color: $gray-20;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $eaves;
  font-style: normal;
}

p {
  font-family: $eaves;
  font-weight: 400;
  font-style: normal;
  font-size: $f2;
  line-height: $f2;
}

button {
  padding: 10px;
  border: 1px solid $gray-30;
  border-radius: 5px;
}

.grid-container {
  position: relative;

  @media (min-width: $l-min) {
      width: 90%;
  }
  @media (min-width: $l-max) {
      width: 700px;
  }
}

// Navigation
nav {
  padding: 20px 30px;
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color:$white;

  @media (max-width: $m-max) {
    padding: 15px 0;
    background-color:$white;
    box-shadow: 0 2px 5px $gray-30;
  }

  #nav_content {
    margin: 0;
    width: 170px;
  
    p {
        margin: 0;
    }
  
    @media (max-width: $m-max) {
        margin: auto;
    }
  
    #flag-icon {
      margin-right: 10px;
      width: 30px;
      float: left;
    }
  }
}

// Opener
.opener {
  margin-top: -50px;
  margin-bottom: 50px;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(90deg, $gray-30, $gray-20, $gray-20, $gray-30);
  position: relative;

  @media (max-width: $m-max) {
    overflow: hidden;
  }

  h1 {
    top: 30%;
    left: 10%;
    font-size: $f6;
    position: absolute;
    opacity: 0;
    transform: translateX(-200px);
    animation: opener-text 1500ms linear forwards;
  }

  p {
    width: 500px;
    top: 40%;
    left: 10%;
    font-size: $f4;
    line-height: $f1;
    position: absolute;
    opacity: 0;
    transform: translateX(-200px);
    animation: opener-text 1500ms linear 0.5s forwards;
  }
}

.svg-container {
  width: 90%;
  height: 100vh;
  position: absolute;
  left: 10%;
  overflow: hidden;

  svg {
    margin-top: -50px;
    margin-left: 28%;
    width: 100%;
    // transform: translateX(500px);
    opacity: 0;
    animation: flag-trans 2000ms linear forwards;
  }
  
  .white-rect {
    fill: $white;
  }
  
  .svg-shadows {
    fill: $gray-30;
  }
  .svg-stripes {
    fill: $light-blue;
  }
  
  .svg-shadow-large {
    fill: $gray-20;
    opacity: 0.5;
  }
  
  .svg-stars {
    fill: $red;
  }
  
  .svg-lines {
      fill: none;
      stroke: $gray-40;
      stroke-width: 1;
  }
  
  .svg-circles {
      fill: $gray-40;
  }
  
  .svg-text { 
    font-family: $eaves;
    font-size: $f3;
    fill: $gray-40;
    opacity: 0;
    animation: text-fade 2000ms linear 2s forwards;
  }
}

// Filter containers
.filter-container {
    margin-bottom: 50px;
    width: 100%;
    position: relative;
    display: block;
    z-index: 20;

    @media (max-width: $m-max) {
      display: none;
    }
}

.filter-group {
  display: inline;

  @media (max-width: $m-max) {
    padding-top: 10px;
    width: 100%;
    height: 110px;
    background-color: $white;
    border-bottom: 1px solid $gray-30;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, .20);
    position: absolute;
    bottom: 50px;
    transform: translateY(120px);
    z-index: -1;
    transition: transform 0.3s ease;
  }

  &.filter-group_slide {
    transform: translateY(0);
  }
  
  .filter-group_div {
    margin-right: 20px;
    width: 40%;
    list-style-type: none;
    float: left;
    vertical-align: bottom;

    @media (max-width: $m-max) {
      padding: 0 10px;
      width: 100%;
    }
  }
  
  .filter-group_div-mobile {
    float: left;
    vertical-align: bottom;
    padding: 0 10px;
    width: 100%;
    display: none;

    p {
      @media (max-width: $m-max) {
        margin-bottom: 7px;
      }
    }
  }
}

#close-bttn {
  display: none;

  @media (max-width: $m-max) {
    position: absolute;
    right: 10px;
  }
}

// Filter buttons for mobile
.filter-container_mobile {
  display: none;

  @media (max-width: $m-max) {
    position: fixed;
    width: 100%;
    display: block;
    bottom: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.filter-buttons-mobile {
  display: none;

  @media (max-width: $m-max) {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 0;
    background-color: $white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, .20);
    z-index: 10;
  }

  .filter-buttons-mobile button {
    width: 100%;
    text-align: center;
  }
}

// Filter
#filter {
  height: 80px;
  display: block;

  @media (max-width: $m-max) {
    display: none;
  }
}

#filter select {
  padding: 4px 8px 8px 8px;
  height: 40px;
  border: 1px solid $gray-20;
  border-radius: 5px;
  font-family: $eaves;
  font-size: $f2;
  text-indent: 10px;
}

#filter select {
  text-transform: capitalize;
}

// Search
#search {
  display: block;

  @media (max-width: $m-max) {
    display: none;
  }

  p {
    display: none;
  
    @media (max-width: $m-max) {
      display: block;
    }
  }

  input {
    padding: 16px;
    height: 40px;
    border: 1px solid $gray-20;
    border-radius: 5px;
    font-family: $eaves;
    font-size: $f2;
  }

  input::placeholder {
    color: $gray-30;
  }
}

#search-form-mobile {
  margin-right: 10px;
  width: 75%;
  display: inline-block;
  float: left;
}

// Flag content
.flags_cards {
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: block;

  @media (max-width: $m-max) {
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    background-color: $gray-10;
    // border: 1px solid $gray-30;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .10);
  }

  h2 {
    border-bottom: 1px solid $gray-30;

    @media (max-width: $m-max) {
      margin-bottom: 1em;
      font-size: $f4;
    }
  }

  p {
    margin-top: 20px;
  }
}

.flag-source {
  font-style: italic;
  font-weight: 400;
  font-size: $f1;
}

// Return to top button
#scroll-button {
  width: 40px;
  height: 40px;
  background-color: #222;
  position: fixed;
  bottom: 5%;
  right: 20%;
}

// Active, inactive & sticky
.active {
  display: block !important;
}

.inactive {
    display: none;
}

.sticky {
  top: 10px;
  position: sticky;
  margin-left: 150px;
}

// Footer
footer {
  margin-top: 30px;
  padding: 30px;
  width: 100%;
  height: 200px;
  background-color: #222;

  p {
      color: $white;
  }
}

// Opener animation
.DrEnCMzB_0 {
  stroke-dasharray: 1902 1904;
  stroke-dashoffset: 1903;
  animation: DrEnCMzB_draw 2000ms linear 0ms forwards;
}
.DrEnCMzB_1 {
  stroke-dasharray: 201 203;
  stroke-dashoffset: 202;
  animation: DrEnCMzB_draw 2000ms linear 34ms forwards;
}
.DrEnCMzB_2 {
  stroke-dasharray: 1029 1031;
  stroke-dashoffset: 1030;
  animation: DrEnCMzB_draw 2000ms linear 68ms forwards;
}
.DrEnCMzB_3 {
  stroke-dasharray: 1029 1031;
  stroke-dashoffset: 1030;
  animation: DrEnCMzB_draw 2000ms linear 103ms forwards;
  }
.DrEnCMzB_4 {
  stroke-dasharray: 1252 1254;
  stroke-dashoffset: 1253;
  animation: DrEnCMzB_draw 2000ms linear 137ms forwards;
}
.DrEnCMzB_5{
  stroke-dasharray: 1879 1881;
  stroke-dashoffset:1880;
  animation:DrEnCMzB_draw 2000ms linear 172ms forwards;
}
.DrEnCMzB_6{
  stroke-dasharray:1006 1008;
  stroke-dashoffset:1007;
  animation:DrEnCMzB_draw 2000ms linear 206ms forwards;
}
.DrEnCMzB_7{
  stroke-dasharray:1006 1008;
  stroke-dashoffset:1007;
  animation:DrEnCMzB_draw 2000ms linear 241ms forwards;
}
.DrEnCMzB_8{
  stroke-dasharray:635 637;
  stroke-dashoffset:636;
  animation:DrEnCMzB_draw 2000ms linear 275ms forwards;
}
.DrEnCMzB_9{
  stroke-dasharray:635 637;
  stroke-dashoffset:636;
  animation:DrEnCMzB_draw 2000ms linear 310ms forwards;
}
.DrEnCMzB_10{
  stroke-dasharray:635 637;
  stroke-dashoffset:636;
  animation:DrEnCMzB_draw 2000ms linear 344ms forwards;
}
.DrEnCMzB_11{
  stroke-dasharray:635 637;
  stroke-dashoffset:636;
  animation:DrEnCMzB_draw 2000ms linear 379ms forwards;
}
.DrEnCMzB_12{
  stroke-dasharray:328 330;
  stroke-dashoffset:329;animation:DrEnCMzB_draw 2000ms linear 413ms forwards;
}
.DrEnCMzB_13{
  stroke-dasharray:24 26;
  stroke-dashoffset:25;
  animation:DrEnCMzB_draw 2000ms linear 448ms forwards;
}
.DrEnCMzB_14{
  stroke-dasharray:600 602;
  stroke-dashoffset:601;
  animation:DrEnCMzB_draw 2000ms linear 482ms forwards;
}
.DrEnCMzB_15{
  stroke-dasharray:24 26;
  stroke-dashoffset:25;
  animation:DrEnCMzB_draw 2000ms linear 517ms forwards;
}
.DrEnCMzB_16{
  stroke-dasharray:975 977;
  stroke-dashoffset:976;
  animation:DrEnCMzB_draw 2000ms linear 551ms forwards;
}
.DrEnCMzB_17{
  stroke-dasharray:24 26;
  stroke-dashoffset:25;
  animation:DrEnCMzB_draw 2000ms linear 586ms forwards;
}
.DrEnCMzB_18{
  stroke-dasharray:656 658;
  stroke-dashoffset:657;
  animation:DrEnCMzB_draw 2000ms linear 620ms forwards;
}
.DrEnCMzB_19{
  stroke-dasharray:24 26;
  stroke-dashoffset:25;
  animation:DrEnCMzB_draw 2000ms linear 655ms forwards;
}
.DrEnCMzB_20{
  stroke-dasharray:469 471;
  stroke-dashoffset:470;
  animation:DrEnCMzB_draw 2000ms linear 689ms forwards;
}
.DrEnCMzB_21{
  stroke-dasharray:24 26;
  stroke-dashoffset:25;
  animation:DrEnCMzB_draw 2000ms linear 724ms forwards;
}
.DrEnCMzB_22{
  stroke-dasharray:218 220;
  stroke-dashoffset:219;
  animation:DrEnCMzB_draw 2000ms linear 758ms forwards;
}
.DrEnCMzB_23{
  stroke-dasharray:24 26;
  stroke-dashoffset:25;
  animation:DrEnCMzB_draw 2000ms linear 793ms forwards;
}
.DrEnCMzB_24{
  stroke-dasharray:184 186;
  stroke-dashoffset:185;
  animation:DrEnCMzB_draw 2000ms linear 827ms forwards;
}
.DrEnCMzB_25{
  stroke-dasharray:24 26;
  stroke-dashoffset:25;
  animation:DrEnCMzB_draw 2000ms linear 862ms forwards;
}
.DrEnCMzB_26{
  stroke-dasharray:78 80;
  stroke-dashoffset:79;
  animation:DrEnCMzB_draw 2000ms linear 896ms forwards;
}
.DrEnCMzB_27{
  stroke-dasharray:24 26;
  stroke-dashoffset:25;
  animation:DrEnCMzB_draw 2000ms linear 931ms forwards;
}
.DrEnCMzB_28{
  stroke-dasharray:86 88;
  stroke-dashoffset:87;
  animation:DrEnCMzB_draw 2000ms linear 965ms forwards;
}
.DrEnCMzB_29{
  stroke-dasharray:24 26;
  stroke-dashoffset:25;
  animation:DrEnCMzB_draw 2000ms linear 1000ms forwards;
}

@keyframes DrEnCMzB_draw{
  100%{
    stroke-dashoffset:0;
  }
}

@keyframes DrEnCMzB_fade{
  0% {
    stroke-opacity:1;
  }
  94.44444444444444% {
    stroke-opacity:1;
  }
  100% {
    stroke-opacity:0;
  }
}

@keyframes text-fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes flag-trans {
  from {
      opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opener-text {
  from {
      opacity: 0;
      transform: translateX(-200px);
  } 
  to {
    opacity: 1;
    transform: translateX(0);
  }
}