<nav id="nav">
    <div id="nav_content">
        <svg id="flag-icon" x="0px" y="0px" viewBox="0 0 50.5 45.7" style="enable-background:new 0 0 50.5 45.7;" xml:space="preserve">
        <style type="text/css">
            .st0{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
        </style>
        <polygon class="st0" points="49.5,31.5 1,44.4 1,6.8 49.5,1.1 "/>
        <polygon points="47.2,29.7 3.2,41.4 3.2,31 47.2,21.4 "/>
        <polygon points="47.2,12.2 3.2,19.9 3.2,9 47.2,3.5 "/>
        </svg>
        <p>Flag meanings</p>
    </div>
</nav>